{% extends "base.html" %}



{% block silder %}
<div class="panel panel-info"  style="padding-top: 30px;">
<div class="panel-heading">
<p class="text-center">

</p>
</div>
</div>



{% end %}

{% block body %}

<div class="container">
<div class="bs-docs-section">
  <h1 class="page-header">51PP介绍</h1>

  <p class="lead"><a href="/">www.51pp.pw</a> 是偶完全自己做的，拥有自主产权，主要是用于实现各种新技术，为此我还特别搞了一个SSL证书，
      这个证书只有IE和chrome浏览器认，真的有点郁闷，大家凑活着用吧，总比没有强啊，至少保证传输是安全的，我个人比较爱好技术，
      希望能认识更多热爱技术的同学，欢迎大家与我联系，QQ:2731560337 耀男</p>

  <h3>网站技术简介</h3>
  <p>前端相信大家已经看出来了，全部是采用bootstrap搞的，而且还响应式哦，手机平板都能玩，妈妈再也不用担心我下片了！哈哈</p>
  <p>后端采用python 配以 nginx，由于没什么钱，所以找的vps比较次，希望能换个好点的vps，更好的展现这个搜索的强大之处。</p>
   <hr>
   <h3>申明</h3>
  <p>我一没钱，二没权，只有热爱的技术，仅够混口饭吃，这个里面的的种子都是网上搜集，什么版权啊，都与我无关，特此声明哦！</p>
   <hr>
    <h3>近况</h3>
    <p>希望能多交一些高技术的朋友，web技术，游戏开发，手机开发都可以，希望有网站的朋友能交换一下友情链接：QQ:2731560337 耀男</p>

</div>
</div>
{% end %}
