{% extends "base.html" %}



{% block silder %}
<div class="panel panel-info"  style="padding-top: 30px;">
<div class="panel-heading">
<p class="text-center">

</p>
</div>
</div>



{% end %}

{% block body %}

<div class="container">

<div class="jumbotron">
    <h2>特别vip功能，还在制作中</h2>

    <p>这个功能很爽哦，正在制作中...敬请期待</p>
    <p>另外打个小广告，求交换友情链接QQ:2731560337</p>

    <p>
    <a href="/">
        <button type="button " class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-repeat"></span> 返回首页
        </button>
    </a>
    </p>
</div>
</div>
{% end %}
